.heading-large {
    font-size: calc(var(--font-heading-scale) * 3.2rem);
  }
  .heading-medium {
    font-size: calc(var(--font-heading-scale) * 3.2rem);
  }
  .heading-small {
    font-size: calc(var(--font-heading-scale) * 3.2rem);
  }

@media only screen and (min-width: 750px) {
    .heading-large {
      font-size: calc(var(--font-heading-scale) * 6.4rem);
    }
    .heading-medium {
      font-size: calc(var(--font-heading-scale) * 5.4rem);
    }
    .heading-small {
      font-size: calc(var(--font-heading-scale) * 4rem);
    }
  }